In [1]:
conn = sqlite3.connect('cars.db')
sql_query = "SELECT * FROM blockchain LIMIT 100"
result = pd.read_sql_query(sql_query, conn)
result

NameError: name 'sqlite3' is not defined